/*!
Theme Name: PLAAY
Theme URI: http://www.plaay.co.uk;
Author: Malinky Media
Author URI: http://www.malinkymedia.com
Description: Bespoke theme for PLAAY
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic);

/*
**********************************************************************
NORMALIZE
**********************************************************************
*/

/*! normalize.css v1.1.3 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/**
 * Address margins handled incorrectly in IE 6/7.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 6/7/8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Address margins set differently in IE 6/7.
 */

p,
pre {
    margin: 1em 0;
}

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */

q {
    quotes: none;
}

/**
 * Address `quotes` property not supported in Safari 4.
 */

q:before,
q:after {
    content: '';
    content: none;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */

/**
 * Address margins set differently in IE 6/7.
 */

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
**********************************************************************
END NORMALIZE
**********************************************************************
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;     
}

body {
    text-align: center;
    font-size: 0.875em; /*14/16*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666666;
}

@font-face {
    font-family: FontAwesome;
    src: url(fonts/fontawesome-webfont.eot?v=4.3.0);
    src: url(fonts/fontawesome-webfont.eot?#iefix&v=4.3.0) format('embedded-opentype'),
         url(fonts/fontawesome-webfont.woff2?v=4.3.0) format('woff2'),
         url(fonts/fontawesome-webfont.woff?v=4.3.0) format('woff'),
         url(fonts/fontawesome-webfont.ttf?v=4.3.0) format('truetype'),
         url(fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'museo300';
    src: url('fonts/museo300-regular-webfont.eot');
    src: url('fonts/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo300-regular-webfont.svg#museo300') format('svg'),
         url('fonts/museo300-regular-webfont.woff') format('woff'),
         url('fonts/museo300-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo700';
    src: url('fonts/museo700-regular-webfont.eot');
    src: url('fonts/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo700-regular-webfont.svg#museo700') format('svg'),
         url('fonts/museo700-regular-webfont.woff') format('woff'),
         url('fonts/museo700-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'st_marie_thinthin';
    src: url('fonts/stmarie-thin-webfont.eot');
    src: url('fonts/stmarie-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/stmarie-thin-webfont.svg#st_marie_thinthin') format('svg'),
         url('fonts/stmarie-thin-webfont.woff') format('woff'),
         url('fonts/stmarie-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*a better looking default horizontal rule*/
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e5e5e5;
    margin: 1em 0;
    padding: 0;
}

hr.brown_double {
    border-top: 2px solid #e7decc;
}

hr.home_small,
hr.home_medium {
    margin-top: 2em;
    display: none;
}

/*remove the gap between images and the bottom of their containers*/
img {
    vertical-align: middle;
    max-width: 100%;
}

/*add to non responsive images that don't want shrinking*/
img.non_responsive {
    max-width: none;
} 

/*remove default fieldset styles*/
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*allow only vertical resizing of textareas*/
textarea {
    resize: vertical;
}

/*always set my heading text and color*/
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/*always 0 heading margin from normalize.css*/
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

h1,
.heading_1 {
    font-family: "museo700";
    font-size: 1.571428em; /*22/14*/
    color: #9e4381;
    border-bottom: 2px solid #e5e5e5;
    margin: 0 0 20px 0;
}

h4,
.heading_4 {
    font-size: 1.142857em; /*16/14*/
    font-weight: bold;
}

/*always set my own link*/
a,
a:visited {
    text-decoration: none;
    color: #9e4381;
}

/*always set my own links*/
a:hover {
    text-decoration: underline;    
}

p {
    margin: 0 0 1em 0;
    line-height: 1.3em;
}

/*always set my own p size*/
.main_content p {
}

/*sometimes it need zero'ing*/
p.p_no_margin {
    margin: 0;
}

p.p_no_margin_top {
    margin-top: 0;
}

/*always set my own ul, ol size*/
ul,
ol {
}

ol li {
    margin-bottom: 10px;
}

/*always use to neutralise a list*/
ul.list_no_style,
ol.list_no_style {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1.1;        
}

ul.list_no_style li,
ol.list_no_style li {
    margin-bottom: 0.6em;
}

ul.bulleted_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.bulleted_list li {
    background: url(img/bullet.png) 0 3px no-repeat;
    padding-left: 20px;
    margin-bottom: 5px;
}

ul.ticked_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.ticked_list li {
    background: url(img/bullet_tick.png) 0 3px no-repeat;
    padding-left: 26px;
    margin-bottom: 5px;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*
**********************************************************************
MAIN WRAP
**********************************************************************
*/

#wrap {
    max-width: 990px;
    margin: 166px auto 0 auto; /*40 gap between fixed nav and this*/
    padding: 0 5px;    
    text-align: left;
}

#wrap_coach {
    max-width: 990px;
    margin: 100px auto 0 auto; /*40 gap between fixed nav and this*/
    padding: 0 5px;    
    text-align: left;
}

#wrap_home {
    max-width: 2000px;    
    margin: 0 auto;  
    text-align: left;
}

.wrap_home_content {
    max-width: 990px;
    margin: 0 auto;
    padding: 0 5px;    
    text-align: left;
}

#wrap_mobile {
    width: 100%;    
    text-align: left; /*ie6 check*/
    margin: 0 auto;
    display: none;
}

#nav_full,
#nav_full_coach {
    width: 100%;
    text-align: left; /*ie6 check*/
    background-color: rgba(36,36,36,0.9);
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 10000;
}

#nav_postcode_full {
    margin-top: 70px;
    border-top: 1px solid #FFFFFF;
    width: 100%;
    text-align: left; /*ie6 check*/
    background: #282828;
    height: 56px;
    position: fixed;
    top: 0;
    z-index: 10000;
}

#wrap_full_inner {
    max-width: 990px;
    margin: 0 auto;       
    padding: 0 5px;
}

/*
**********************************************************************
GRID
**********************************************************************
*/

.col {
    margin:0;   
    padding:0;
    margin-left: -24px; /*remove first gutter. negates padding-left on .col_item*/
}

/*this modifier is used when a col will have vertical alignment from a col_item within it. Use this on the main col that sets the overall height of the div*/
.col--relative {
    position: relative;
}

/*used on the inner div that will be aligned vertically*/
.col_relative_inner {
    position: absolute;
    top: 0;
    bottom: 0;
}

/*span for vertical alignment needs to be empty and before element to align*/
.vertical_align_outer {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

/*modifier for col without any gutters or when a background colour is applied or when a background image is added to whole col*/
.col--gutterless,
.col--bkg_color,
.col--bkg_img {
    margin-left: 0;
}

/*removes gutters from all col_item when col is set with modifier col--gutterless*/
.col--gutterless > .col_item {
    padding-left: 0;
}

/*can be used inside as a nested col modifier or inside a col_item as a standalone div to add background colour and padding*/
/*can also use with cycle in shopify to overwrite background set below*/
.col--bkg_color,
.col_bkg_color {
    background: #f1f1f1;
    padding: 10px 6px;
}

/*ensures additional padding isn't added on first-child col_item for both the col modifier and standalone version*/
.col--bkg_color > .col_item:first-child,
.col_bkg_color > .col_item:first-child,
.col--bkg_img > .col_item:first-child {
    padding-left: 0;
}

/*modifier to centre an entire col*/
.col--align_center {
    text-align: center; /*align col items center*/
}

/*modifier to right align an entire col*/
.col--align_right {
    text-align: right; /*align col items right*/
}

/*when centering an entire col make sure to pull the internal text back to the left*/
.col--align_center > .col_item,
.col--align_right > .col_item {
    text-align: left; /*pull center grid text back left*/
}

.col--margin_bottom_20 {
    margin-bottom: 20px;
}

.col_item {
    display: inline-block; /*instead of floating*/
    padding-left: 24px; /*gutter*/
    vertical-align: top; /*align inline-block elements*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col_item--middle {
    vertical-align: middle; /*align col items middle*/
}

.col_item--bottom {
    vertical-align: bottom; /*align col items bottom*/
}

.col_item--align_left {
    text-align: left; /*align col items left. Used to move centered or right align normally with medium- small- modifier*/
}

.col_item--align_center {
    text-align: center; /*align col items center*/
}

.col_item--align_right {
    text-align: right; /*align col items right*/
}

.col_item--margin_bottom_20 {
    margin-bottom: 20px;
}

.col_item_full { width: 100%; }

.col_item_half { width: 50%; }

.col_item_third { width: 33.333% }
.col_item_two_third { width: 66.666%; }

.col_item_quarter { width: 25%; }
.col_item_three_quarter { width: 75%; }

.col_item_1_5 { width: 20%; }
.col_item_2_5 { width: 40%; }
.col_item_3_5 { width: 60%; }
.col_item_4_5 { width: 80%; }

.col_item_1_6 { width: 16.666%; }
.col_item_5_6 { width: 83.333%; }

.col_item_1_8 { width: 12.5%; }
.col_item_3_8 { width: 37.5%; }
.col_item_5_8 { width: 62.5%; }
.col_item_6_8 { width: 75%; }
.col_item_7_8 { width: 87.5%; }

.col_item_1_10 { width: 10%; }
.col_item_2_10 { width: 20%; }
.col_item_3_10 { width: 30%; }
.col_item_4_10 { width: 40%; }
.col_item_6_10 { width: 60%; }
.col_item_7_10 { width: 70%; }
.col_item_8_10 { width: 80%; }
.col_item_9_10 { width: 90%; }

@media only screen and (min-width: 768px) and (max-width: 989px) {

.large-col_item_full { width: 100%; }

.large-col_item_half { width: 50%; }

.large-col_item_third { width: 33.333% }
.large-col_item_two_third { width: 66.666%; }

.large-col_item_quarter { width: 25%; }
.large-col_item_three_quarter { width: 75%; }

.large-col_item_1_5 { width: 20%; }
.large-col_item_2_5 { width: 40%; }
.large-col_item_3_5 { width: 60%; }
.large-col_item_4_5 { width: 80%; }

.large-col_item_1_6 { width: 16.666%; }
.large-col_item_5_6 { width: 83.333%; }

.large-col_item_1_8 { width: 12.5%; }
.large-col_item_3_8 { width: 37.5%; }
.large-col_item_5_8 { width: 62.5%; }
.large-col_item_6_8 { width: 75%; }
.large-col_item_7_8 { width: 87.5%; }

.large-col_item_1_10 { width: 10%; }
.large-col_item_2_10 { width: 20%; }
.large-col_item_3_10 { width: 30%; }
.large-col_item_4_10 { width: 40%; }
.large-col_item_6_10 { width: 60%; }
.large-col_item_7_10 { width: 70%; }
.large-col_item_8_10 { width: 80%; }
.large-col_item_9_10 { width: 90%; }

.large-col_item--middle {
    vertical-align: middle; /*align col items middle*/
}

.large-col_item--bottom {
    vertical-align: bottom; /*align col items bottom*/
}

.large-col_item--align_left {
    text-align: left; /*align col items left. Used to move centered or right align normally with medium- small- modifier*/
}

.large-col_item--align_center {
    text-align: center; /*align col items center*/
}

.large-col_item--align_right {
    text-align: right; /*align col items right*/
}

.large-full_width {
    width: 100%; /*used to make an item full width like a button when it isn't normally*/
}

}

@media only screen and (min-width: 481px) and (max-width: 767px) {

.medium-col_item_full { width: 100%; }

.medium-col_item_half { width: 50%; }

.medium-col_item_third { width: 33.333% }
.medium-col_item_two_third { width: 66.666%; }

.medium-col_item_quarter { width: 25%; }
.medium-col_item_three_quarter { width: 75%; }

.medium-col_item_1_5 { width: 20%; }
.medium-col_item_2_5 { width: 40%; }
.medium-col_item_3_5 { width: 60%; }
.medium-col_item_4_5 { width: 80%; }

.medium-col_item_1_6 { width: 16.666%; }
.medium-col_item_5_6 { width: 83.333%; }

.medium-col_item_1_8 { width: 12.5%; }
.medium-col_item_3_8 { width: 37.5%; }
.medium-col_item_5_8 { width: 62.5%; }
.medium-col_item_6_8 { width: 75%; }
.medium-col_item_7_8 { width: 87.5%; }

.medium-col_item_1_10 { width: 10%; }
.medium-col_item_2_10 { width: 20%; }
.medium-col_item_3_10 { width: 30%; }
.medium-col_item_4_10 { width: 40%; }
.medium-col_item_6_10 { width: 60%; }
.medium-col_item_7_10 { width: 70%; }
.medium-col_item_8_10 { width: 80%; }
.medium-col_item_9_10 { width: 90%; }

.medium-col_item--middle {
    vertical-align: middle; /*align col items middle*/
}

.medium-col_item--bottom {
    vertical-align: bottom; /*align col items bottom*/
}

.medium-col_item--align_left {
    text-align: left; /*align col items left. Used to move centered or right align normally with medium- small- modifier*/
}

.medium-col_item--align_center {
    text-align: center; /*align col items center*/
}

.medium-col_item--align_right {
    text-align: right; /*align col items right*/
}

.medium-full_width {
    width: 100%; /*used to make an item full width like a button when it isn't normally*/
}

}

@media only screen and (max-width: 480px) {

.small-col_item_full { width: 100%; }

.small-col_item_half { width: 50%; }

.small-col_item_third { width: 33.333% }
.small-col_item_two_third { width: 66.666%; }

.small-col_item_quarter { width: 25%; }
.small-col_item_three_quarter { width: 75%; }

.small-col_item_1_5 { width: 20%; }
.small-col_item_2_5 { width: 40%; }
.small-col_item_3_5 { width: 60%; }
.small-col_item_4_5 { width: 80%; }

.small-col_item_1_6 { width: 16.666%; }
.small-col_item_5_6 { width: 83.333%; }

.small-col_item_1_8 { width: 12.5%; }
.small-col_item_3_8 { width: 37.5%; }
.small-col_item_5_8 { width: 62.5%; }
.small-col_item_6_8 { width: 75%; }
.small-col_item_7_8 { width: 87.5%; }

.small-col_item_1_10 { width: 10%; }
.small-col_item_2_10 { width: 20%; }
.small-col_item_3_10 { width: 30%; }
.small-col_item_4_10 { width: 40%; }
.small-col_item_6_10 { width: 60%; }
.small-col_item_7_10 { width: 70%; }
.small-col_item_8_10 { width: 80%; }
.small-col_item_9_10 { width: 90%; }

.small-col_item--middle {
    vertical-align: middle; /*align col items middle*/
}

.small-col_item--bottom {
    vertical-align: bottom; /*align col items bottom*/
}

.small-col_item--align_left {
    text-align: left; /*align col items left. Used to move centered or right align normally with medium- small- modifier*/
}

.small-col_item--align_center {
    text-align: center; /*align col items center*/
}

.small-col_item--align_right {
    text-align: right; /*align col items right*/
}

.small-full_width {
    width: 100%; /*used to make an item full width like a button when it isn't normally*/
}

}

/*
**********************************************************************
NAV
**********************************************************************
*/

#nav_content,
#nav_postcode_content,
#nav_coach_content {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 5px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.142857em;
}

#nav_postcode_content {
    padding: 9px 5px 0 5px;
}

#nav_content #logo,
#nav_coach_content #logo {
    display: inline-block;
    margin-top: 5px;
}

#nav_content #logo img,
#nav_coach_content #logo {
    height: 60px;
}

#nav_content #large-logo,
#nav_coach_content #large-logo {
    display: none;
    margin-top: 5px;
}

#nav_content #large-logo img,
#nav_coach_content #large-logo img {
    height: 60px;
}

#menu_front_end ul,
#menu_coach ul {
    margin: 0;
    padding: 0;
    text-align: right;
}

#menu_front_end li {
    display: inline;
    margin-left: 14px;
    line-height: 70px;
}

#menu_coach li {
    display: inline;
    margin-left: 8px;
    line-height: 70px;    
}

#menu_front_end li:first-child,
#menu_coach li:first-child {
    margin-left: 0;
}

#menu_front_end li a:link,
#menu_front_end a:visited,
#menu_coach li a:link,
#menu_coach li a:visited {
    color: #FFFFFF;
}

#menu_front_end ul li a:hover,
#menu_coach ul li a:hover {
    text-decoration: underline;
}

#menu_front_end li.current_page_item,
#menu_front_end li.activities_menu_active_class,
#menu_coach li.current_page_item {
    text-decoration: underline;
}

#menu_front_end ul li.nav_more {
    padding-right: 26px;
}

#menu_front_end ul li.nav_more a:after {
    color: #fff;
    margin-left: 10px;
    font-family: "FontAwesome";
    content: "\f078";
}

#menu_front_end ul li.nav_more a:hover {
    text-decoration: none;
}

#nav_login_content {
    text-align: right;
    background: #FFFFFF;
    margin-bottom: 20px;
}

#nav_login_content span {
    font-weight: bold;
}

#nav_login_content p {
    /*display: inline-block;*/
    margin: 0;
}

p#logged_in_as {
    /*margin-right: 10px;*/
}

#postcode_search_form input[type="text"] {
    display: inline-block;
    width: 200px;
}

#postcode_search_form p {
    color: #FFFFFF;
    margin: 0;
    margin-right: 10px;
}

.postcode_search_distance_message {
    display: inline-block;
}

.postcode_search_distance_message_medium,
.postcode_search_distance_message_small {
    display: none;
}

.button_postcode_search {
    width: 41px;
    height: 37px;  
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background: #9e4381 url(img/button_postcode_search.png) 50% no-repeat;
    background-size: 35px;
    border: none;
    margin-bottom: 2px;
    margin-left: 10px;
}

.button_postcode_search:hover {
    background: #852b68 url(img/button_postcode_search.png) 50% no-repeat;
    background-size: 35px;    
    text-decoration: none;
    cursor: pointer;
}

/*
**********************************************************************
NAV MOBILE
**********************************************************************
*/

#nav_mobile,
#nav_mobile_coach {
    display: none;
    width: 100%;
    text-align: left; /*ie6 check*/
    background-color: rgba(36,36,36,0.9);
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 100000;
}

#nav_content_mobile {
    margin: 0 auto;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.142857em;
}

#nav_content_mobile #logo {
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

#nav_mobile_menu {
    margin-top: 24px;
    padding-right: 5px;
}

#nav_mobile_toggle {
    display: none;
    background-color: rgba(36,36,36,0.9);
}

#nav_mobile_toggle li {
    margin-bottom: 0;
    border-top: 1px solid #FFFFFF;
}

#nav_mobile_toggle li:hover {
    background: #242424;   
}

#nav_mobile_toggle li.current_page_item {
    background: #242424;  
}

#nav_mobile_toggle li a {
    display: block;
    height: 36px; /*36*/
    padding-top: 10px;
    padding-left: 5px;    
    text-decoration: none;
    color: #FFFFFF;    
    font-weight: normal;
}

/*
**********************************************************************
FOOTER
**********************************************************************
*/

#footer,
#footer_coach {
    position: relative;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 3px solid #9e4381;  
}

#nav_footer_content,
#nav_footer_terms_content {
    margin-bottom: 30px;
}

#menu_footer ul,
#menu_terms_footer ul {
    margin: 0;
    padding: 0;
}

#menu_footer li,
#menu_terms_footer li {
    display: inline;
    margin-left: 18px;
}

#menu_footer li:first-child,
#menu_terms_footer li:first-child {
    margin-left: 0;
}

#menu_footer li a:link,
#menu_footer a:visited {
    color: #666666;
    font-size: 1.142857em;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;    
}

#menu_terms_footer li a:link,
#menu_terms_footer a:visited {
    color: #666666;
    font-size: 1em;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;    
}

#menu_footer ul li a:hover,
#menu_terms_footer ul li a:hover {
    text-decoration: underline;
    color: #9e4381;
}

#menu_footer ul li.current_page_item,
#menu_terms_footer ul li.current_page_item {
    text-decoration: underline;
}

.footer-logo {
    height: 60px;
}

.footer_strapline {
    margin: 8px 0 10px 0;
    font-family: 'museo300';
    font-size: 1.5em; /*21/14*/
    color: #9e4381;
}

.footer_registered {
    font-size: 0.857142em; /*12/14*/
    color: #999999;
    font-weight: bold;
    margin: 0 0 3px 0;
}

.back_top {
    position: absolute;
    top: -48px;
    left: 50%;
    margin-left: -40px;
}

a.back_top {
    color: #fff;
}

/*
 * Overide <a> styles for image fonts (dashicons / font awesome).
 */
.image-font {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;    
} 

/*
 *  Position so sits in middle of navigation.
 * .image-font__Element.
 */
.image-font__sizing {
    text-align: center;
    width: 38px;
    height: 38px;
    line-height: 38px;
    font-size: 1.857142em; /* 26/14 */
    color: $navigation-mobile-bar-link-color;  
    display: inline-block;
    transition: color 0.1s ease-in 0;
}

/*
 * If text accompanies an image font, like Twitter logo on contact page
 */
.image-font__label {
    margin-left: 10px;
}

/*
 * Use my own reference to the image fonts so I control all styling not their stylsheets.
 * .image-font__Element.
 */
.image-font__fontawesome {
    font-family: 'FontAwesome';
}

.image-font_footer {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    line-height: 60px;
    margin-bottom: 30px;
    font-size: 2.142857em; /* 30/14 */        
}

.image-font__twitter {
    background: #1bb2e9;
}

.image-font__facebook {
    background: #3c599b;
}

.image-font__google {
    background: #dd4c39;
}

.image-font__linkedin {
    background: #0274b3;
}

.image-font_home {
    width: 90px;
    height: 45px;
    border-radius: 50px 50px 0 0;
    text-align: center;
    line-height: 50px;
    font-size: 2.142857em; /* 30/14 */        
}

.image-font__purple {
    background: #9e4381;
}

.nav_footer_social a {
    color: #fff;
    margin-left: 20px;     
}

.nav_footer_social a:first-child {
    margin-left: 0;
}

/*
**********************************************************************
FORMS AND BUTTONS
**********************************************************************
*/

.form_fields_2 {
    margin-bottom: 40px;
}

input,
select,
button,
.button {
    height: 37px;
    padding: 8px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.activities_filter_checkbox_block input {
    height: 20px;
    padding: 0;
    margin-bottom: 0;
}

input,
textarea,
select {
    margin-bottom: 20px;
    color: #666666;    
}

.checkbox_block input {
    margin-bottom: 0;
}

.form_fields_2 input,
.form_fields_2 textarea,
.form_fields_2 select {
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="file"],
input[type="number"],
input[type="tel"],
textarea,
select {
    display: block;
    width: 100%;
    max-width: 100%;
    border: 1px solid #e5e5e5;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="tel"] {
    -webkit-appearance: none;
}

select {
    background: #FFFFFF;
}

input[type="checkbox"].single_checkbox {
    vertical-align: middle;
    margin-left: 0;
}

input[type="checkbox"] {
    vertical-align: middle;
    margin-left: 5px;
}

.activities_filter_checkbox_block input[type="checkbox"] {
    margin-left: 0;
}

button,
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;   
    color: #FFFFFF;
    background: #9e4381;
    border: none;
}

button:visited,
.button:visited,
a.button:visited {
    background: #9e4381;
}

button:hover,
.button:hover,
a.button:hover {
    background: #852b68;
    text-decoration: none;
    cursor: pointer;
}

button.full_width,
.button.full_width {
    width: 100%
}

/*need a bit of extra padding on the a.button*/
a.button {
    color: #FFFFFF;
    padding: 10px;    
}

label {
    display: inline-block;
    /*line-height: 37px;*/
    height: 37px;
    padding-top: 10px;
    font-weight: bold;
}

.activities_filter_checkbox_block label {
    line-height: 20px;
    height: 20px;
    padding-top: 0;
    margin-left: 8px;
    font-weight: normal;
}

.checkbox_block label,
label small {
    font-weight: normal;
}

input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
input[type="url"].error,
input[type="file"].error,
input[type="number"].error,
input[type="tel"].error,
select.error,
textarea.error {
    /*border-color: #dc0000;
    background-color: #fff6f6;
    color: #dc0000;
    outline: none;*/
}

p.error {
    color: #dc0000;
    margin: 0;
}

::-webkit-input-placeholder {
   color: #c0c0c0;
}

:-moz-placeholder { /* Firefox 18- */
   color: #c0c0c0;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #c0c0c0;  
}

:-ms-input-placeholder {  
   color: #c0c0c0;  
}

fieldset {
    border: 2px solid #e5e5e5;
    padding: 20px 20px 10px 20px;
    margin-bottom: 30px;
}

legend {
    padding: 0 10px;
    font-size: 1.142857em;
    letter-spacing: 0.05em;
    font-weight: bold;
}

.field_error_icon {
    float: right;
    width: 30px;
    height: 37px;
}

.field_error_tick {
    background: url(img/tick.png) 0 50% no-repeat;
}

.field_error_cross {
    background: url(img/cross.png) 0 50% no-repeat;
}

.home_postcode_search_error {
    background: #FFFFFF url(img/cross.png) 95% 50% no-repeat;
}

.activity_form_voucher_format_heading {
    height: 37px;
    padding-top: 10px;
    font-weight: bold;
    margin: 0;
}

.wp-editor-container {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin-bottom: 5px;
}

.form_intro {
    margin-bottom: 30px
}

/*
**********************************************************************
HOME
**********************************************************************
*/

.home_img_first {
    position: relative;    
    text-align: left;
    height: 685px;
    overflow: hidden;
}

.home_img_first img {
    position: relative;
    width: 2000px;
    left: 50%;
    margin-left: -1000px;
}

.home_img img,
.home_postcode_content img {
    width: 100%;
}

.home_postcode_content {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1000;
    width: 500px;
    margin: 120px auto 0 -245px;
    padding: 20px;    
    text-align: left;    
    -webkit-transform: translateZ(1px);
    -moz-transform: translateZ(1px);
    transform: translateZ(1px);
    background-color: rgba(36,36,36,0.9);
}

html.touch .home_postcode_content {
    position: relative;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);    
    margin: 75px auto 0 auto;
    left: 0;
    max-width: none;
    width: 100%; 
}

.home_postcode_content h3 {
    font-family: 'st_marie_thinthin';
    font-size: 3.571428em; /*50/14*/
    color: #FFFFFF;
    border-bottom: none;
    margin: 0 0 10px 0;
    text-align: center;
}

.home_postcode_content h4 {
    margin: 15px 0 20px 0;
    font-family: 'museo300';
    font-size: 2em; /*28/14*/
    color: #9e4381;
    text-align: center; 
}

.home_postcode_content h1 {
    width: 75%;
    margin: 0 auto;
    font-size: 1.142857em; /*16/14*/
    line-height: 1.6em;
    text-align: center;
    color: #CCCCCC;
    text-decoration: none;
    font-family: inherit;
    border: none;
}

.home_postcode_content hr {
    display: block;
    width: 80%;
    height: 3px;
    border: 0;
    border-top: 3px solid #9e4381;
    margin: 10px auto 30px auto;
    padding: 0;
}

.home_postcode_content form {
    text-align: center;
}

.home_postcode_content form input[type="text"] {
    display: inline;
    width: 60%;
    max-width: 300px;
    height: 60px;
    border: 2px solid #e5e5e5;
    font-size: 1.714285em;  /*24/14*/
    vertical-align: top;
    margin-right: 10px;
    -webkit-appearance: none;    
}

.button_home {
    width: 66px;
    height: 60px;  
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background: #9e4381 url(img/button_home.png) 50% no-repeat;
    background-size: 66px;
    border: none;
}

.button_home:hover {
    background: #852b68 url(img/button_home.png) 50% no-repeat;
    background-size: 66px;    
    text-decoration: none;
    cursor: pointer;
}

.home_section {
    position: relative;
    padding: 100px 0;
}

html.touch .home_section {
    padding: 30px 0 60px 0;
}

h1.home_section_heading,
h3.home_section_heading {
    font-family: 'museo300';
    font-size: 2.5em; /*35/14*/
    color: #9e4381;
    margin-top: 0;
    line-height: 1em;    
}

.home_section p,
.home_section h2 {
    font-size: 1.142857em; /*16/14*/
    line-height: 1.6em;
}

a.home_scroll span {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
    color: #fff;
}

a.home_scroll_first span {
    position: absolute;
    top: -45px;
    left: 50%;
    margin-left: -40px;
    color: #fff;       
}

/*
**********************************************************************
ACTIVITIES
**********************************************************************
*/

#activities {
    position: relative;
}

.activites_filter_block {
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.activites_filter_block:last-child {
    border-bottom: none;
}

.activities_filter_checkbox_block {
    margin-bottom: 5px;
}

h3.activities {
    font-weight: bold;
    border-bottom: 2px solid #9e4381;
    letter-spacing: 0.05em;
    font-size: 1.142857em; /*16/14*/
    padding-bottom: 5px;
}

h3.activities_name {
    font-family: "museo700";
    font-size: 1.285714em;
    margin-bottom: 5px;
}

.activities_vertical_seperator {
    border-left: 1px solid #e5e5e5;
}

.activities_description {
    width: 95%;
}

#activity_sorting {
    border-bottom: 1px solid #9e4381;
    margin-bottom: 20px;
}

#activity_sort select,
#activity_distance select {
    margin-bottom: 1em;
}

#activity_distance {
    margin-right: 0;
}


/*
**********************************************************************
ACTIVITY
**********************************************************************
*/

.activity_normal_button {

}

.activity_mobile_button {
    display: none;
}

.facebook_api_like {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}

.facebook_api_like_position {
    min-width: 360px;
    min-height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -180px;
    margin-top: -150px;
    background: #FFFFFF;
}

.facebook_api_like_close {
    display: block;
    position: absolute;
    right: 5px;
    top: -5px;
    font-size: 2em;
}

.facebook_api_like_iframe {
    width: 360px;
    height: 300px;
    overflow: hidden;
    border: 2px solid #e5e5e5;
}

/*
**********************************************************************
VOUCHERS
**********************************************************************
*/

.voucher_download_link {
    display: inline-block;
    margin: 20px 0 30px 0;
    text-align: center;
}

.voucher_download_link:before {
    background: url(img/vouchers_icon.png);
    content: '';    
    display: block;
    width: 65px;
    height: 62px;    
    vertical-align: middle;
    margin-bottom: 10px;
}

.voucher_download_social {
    margin: 15px;
}

.voucher_download_social_link_facebook:hover,
.voucher_download_social_link_twitter:hover,
.voucher_download_social_link_googleplus:hover,
.voucher_download_social_link_pinterest:hover,
.voucher_download_social_link_linkedin:hover,
.voucher_download_social_link_email:hover {
    text-decoration: none;
}

.voucher_download_social_link_googleplus {
    display: inline;
    cursor: pointer;
}

/*
**********************************************************************
SIDEBAR
**********************************************************************
*/

#sidebar_content {
    display: block;
}

.sidebar_block {
    padding: 10px;
    background: #f6f6f6;
    margin-bottom: 20px;
}

h4.sidebar_heading {
    font-weight: bold;
    border-bottom: 2px solid #e5e5e5;
    letter-spacing: 0.05em;
    font-size: 1.142857em; /*16/14*/
    padding-bottom: 5px;
}

.sidebar_mobile_content_button {
    display: none;
}

/*
**********************************************************************
PAGINATION
**********************************************************************
*/

#activities_pagination {
    line-height: 35px;
    height: 40px;    
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    padding: 5px 0;
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em; /*28/14*/
    font-family: 'museo700';    
}

#activities_pagination a,
#activities_pagination span {
    margin-left: 5px;
}

#activities_pagination a:first-child {
    margin-left: 0;
}

#activities_pagination span.current {
    color: #9e4381;
    text-decoration: underline;
}

p#activities_pagination {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.71428571429em; /*24/14*/
    overflow: auto;
}

/*
**********************************************************************
BLOG
**********************************************************************
*/

article.post {
    margin-bottom: 40px;
}

.content-header__meta {
    margin-bottom: 10px;
}

.posts-pagination,
.post-pagination {
    border-top: 2px solid #e5e5e5;
    padding: 5px 0;
    margin-bottom: 30px; 
}

.alignnone {
  display: inline;
  float: left;
  margin: 0 21px 0 0;
}

.alignleft {
  display: inline;
  float: left;
  margin: 0 21px 0 0;
}

.alignright {
  display: inline;
  float: right;
  margin: 0 0 0 21px;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

.widget ul {
    margin: 0;
    padding: 0;
}

.widget li {
    list-style: none;
    margin-bottom: 5px;
}

/*
**********************************************************************
COACH CMS
**********************************************************************
*/

.coach_table {
    width: 100%;
}

.coach_table th {
    padding: 5px;
    border: 1px solid #c0c0c0;
    background: #e5e5e5;    
    font-weight: bold;
}

.coach_table th a:link,
.coach_table th a:visited {
    color: #666666;
    display: block;
    background: url(img/sort_arrow_down_off.png) 100% 50% no-repeat;    
}

.coach_table th a:hover {
    background: url(img/sort_arrow_down_on.png) 100% 50% no-repeat;    
}

.coach_table th a.sort_asc {
    background: url(img/sort_arrow_up_on.png) 100% 50% no-repeat;    
}

.coach_table th a.sort_desc {
    background: url(img/sort_arrow_down_on.png) 100% 50% no-repeat;        
}

.coach_table td {
    padding: 5px;
    border: 1px solid #e5e5e5;
}

.coach_table .coach_activities_actions {
    margin-left: 10px;
}

.coach_table .coach_activities_actions:first-child {
    margin-left: 0;
}

.coach_table_actions {
    margin-bottom: 0;
}

.coach_message {
    padding: 10px;
    border: 1px solid #c0c0c0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #e5e5e5;
    margin-bottom: 30px;
}

.coach_message_success,
.coach_message_success_permanent {
    padding: 10px;
    border: 1px solid #0a942a;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ecfef0;
    color: #0a942a;
}

.coach_message_error,
.coach_message_error_permanent {
    padding: 10px;    
    border: 1px solid #dc0000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
    background-color: #fff6f6;
    color: #dc0000;
}

.purple_message {
    padding: 10px;    
    border: 1px solid #9e4381;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
    background-color: #f2d4e8;
    color: #9e4381;
}

/*STRIPE*/
#payment_errors.error {
    padding: 10px;    
    border: 1px solid #dc0000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
    background-color: #fff6f6;
    color: #dc0000;
    display: block;
    margin-bottom: 20px;
}

.coach_invoice {
    width: 100%;
}

.coach_invoice table {
    width: 100%;
}

.coach_invoice td {
    vertical-align: top;
}

.coach_invoice table td {
    border: none;
}

.coach_invoice td.td_nested {
    padding: 0;
}

.coach_invoice td {
    padding: 5px;
}

.coach_invoice td.extra_padding_bottom {
    padding-bottom: 20px;
}

.coach_invoice td.extra_padding_top {
    padding-top: 20px;
}

td.coach_invoice_total {
    font-weight: bold;
}

/*
**********************************************************************
IE
**********************************************************************
*/

.lt-ie7 {

}

.lt-ie8 {
    
}

.lt-ie9 {

}

.lt-ie9 #sidebar_mobile_browse_icon a:link,
.lt-ie9 #sidebar_mobile_browse_icon a:visited {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2); /* IE8 */    
}

.lt-ie9 #sidebar_mobile_browse_icon a.rotate {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0); /* IE8 */    
}

.lt-ie10 {
    
}

/*
**********************************************************************
RANDOM STYLES
**********************************************************************
*/

.bold_text {
    font-weight: bold;
}

.margin_top_25 {
    margin-top: 25px;
}

.form_content {
    margin-bottom: 30px;
}

/*
**********************************************************************
PRINT
**********************************************************************
*/

.printed_invoice_logo {
    display: none;
    margin-bottom: 40px;
}

.print_button {
    margin-top: 40px;
}

/*
**********************************************************************
RESPONSIVE
**********************************************************************
*/

@media only screen and (min-width: 768px) and (max-width: 989px) {

    nav#nav_coach_content #logo {
        display: none;
    }

    nav#nav_coach_content #large-logo {
        display: inline-block;
    }

}

@media only screen and (max-width: 767px) {

    #sidebar_content {
        display: none;
    }

    #sidebar_content > #activities_filter > h3.activities {
        display: none;
    }

    .sidebar_mobile_content_button {
        display: block;
    }

    #activities {
        margin-top: 20px;
    }

    .coach_table th.large-hide,
    .coach_table td.large-hide {
        display: none;
    }

    .postcode_search_distance_message {
        display: none;
    }     

    .postcode_search_distance_message_medium {
        display: inline-block;
    } 

    #nav_full_coach {
        display: none;
    }

    #nav_mobile_coach {
        display: block;
    }

    .home_postcode_content {
        max-width: none;
        width: 100%;
        margin: 120px auto 0 auto;
        left: 0;        
    }

}

@media only screen and (max-width: 488px) {

    #menu_footer ul li,
    #menu_terms_footer ul li {
        margin: 0 0 8px 0;
        display: block;
        text-align: center;
    }
     
}

@media only screen and (max-width: 480px) {

    nav#nav_content #logo {
        display: none;
    }

    nav#nav_content #large-logo {
        display: inline-block;
    }

    .home_postcode_content h4 {
        font-size: 1.571428em; /*22/14*/
    }


    .home_postcode_content h3 {
        font-size: 2.857142em; /*40/14*/
    }  

    .activities_vertical_seperator {
        border: none;
    }

    .activity_normal_button {
        display: none;
    }

    .activity_mobile_button {
        display: block;
    }      

    .postcode_search_distance_message_medium {
        display: none;
    } 

    .postcode_search_distance_message_small {
        display: inline-block;
    }     

    #postcode_search_form input[type="text"] {
        width: 145px;
    }

}

@media only screen and (max-width: 360px) {

    .home_postcode_content form input[type="text"] {
        width: 60%;
        font-size: 1.428571em; /*20/14*/
    }      

}

@media only screen and (max-width: 930px) {

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .field_error_tick {
        background: url(img/tick@2x.png) 0 50% no-repeat;
        background-size: 15px;        
    }

    .field_error_cross {
        background: url(img/cross@2x.png) 0 50% no-repeat;
        background-size: 15px;        
    }

    .home_postcode_search_error {
        background: #FFFFFF url(img/cross@2x.png) 95% 50% no-repeat;
        background-size: 15px;          
    }

    ul.bulleted_list li {
        background: url(img/bullet@2x.png) 0 3px no-repeat;
        background-size: 10px;  
    }

    ul.ticked_list li {
        background: url(img/bullet_tick@2x.png) 0 3px no-repeat;
        background-size: 16px;  
    }

    .voucher_download_link:before {
        background: url(img/vouchers_icon@2x.png);
        background-size: 65px;
    }

    table.coach_table th a:link,
    table.coach_table th a:visited {
        background: url(img/sort_arrow_down_off@2x.png) 100% 50% no-repeat;
        background-size: 10px;       
    }

    table.coach_table th a:hover {
        background: url(img/sort_arrow_down_on@2x.png) 100% 50% no-repeat;    
        background-size: 10px;               
    }

    table.coach_table th a.sort_asc {
        background: url(img/sort_arrow_up_on@2x.png) 100% 50% no-repeat;    
        background-size: 10px;               
    }

    table.coach_table th a.sort_desc {
        background: url(img/sort_arrow_down_on@2x.png) 100% 50% no-repeat;        
        background-size: 10px;               
    }

}