/*
**********************************************************************
PRINT
**********************************************************************
*/

@media print {

    #nav_full_coach,
    #nav_mobile_coach,
    #nav_login_content,
    #footer_coach,
    .print_button {
        display: none;
    }

    #wrap_coach {
        margin-top: 0;
    }

    #wrap_coach a,
    h1 {
    	color: #666666;
    }

    .printed_invoice_logo {
    	display: block;
    }

}